


// =====================================
//         HEADER PART START
//======================================
.fixed {
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 3px 15px rgba(85, 85, 85, 0.2);
}

#header__part {
    background: $header__bg;

    .container {
        max-width: 1325px;

        .navbar-brand {
            padding: 22px 0px;

            .header__logo {
                width: 170px;
                height: auto;
            }
        }

        .header__middle {
            padding: 25px 0px;
            @include flex__center;

            .header__cat {
                position: relative;

                &:hover {
                    .dropdown-menu {
                        visibility: visible;
                        opacity: 1;
                        top: 100%;
                    }
                }

                .btn {
                    padding: 12px 20px;
                    background: #1f3052;
                    color: $wh__color;
                    font-size: 12px;
                    @include primary__regular;
                    text-transform: uppercase;
                    border: none;

                    img {
                        width: auto;
                        height: 14px;
                        margin-right: 8px;
                        margin-bottom: 2px;
                    }

                    &::after {
                        display: none;
                    }
                }

                .dropdown-menu {
                    top: 200%;
                }
            }
        }
    }
}