


//=====================================
//         ALL BUTTON STYLE
//=====================================  
.btn {
    background-color: $brand__color;
    padding: 14px 30px 15px 30px;
    border-radius: 36px;
    border: 2px solid $brand__color;
    color:$wh__color;
    font-size: 0.875rem;
    @include thirdary__bold;
    text-transform: uppercase;
    @include cursor__transition;

    &:hover {
        color: $brand__color;
        background: $wh__color;
        border-color: $brand__color;
    }

    i {
        margin-right: 10px;
    }
}

.btn-outline-primary {
    color: $brand__color;
    background: $wh__color;
    margin-left: 20px;

    &:hover {
        color: $wh__color;
        background: $brand__color;
        border-color: $brand__color;
    }
}