



// =====================================
//         HEADER SEARCH BAR
//======================================
.form-inline {
    width: 100%;
    margin-left: 15px;
    border: 1px solid #4e5c77;
    @include flex__center;

    .btn {
        color: $wh__color;
        border-radius: 0rem;
        padding: 0px 8px;
        border: none;
        background: transparent;
    }

    .form-control {
        width: 115px;
        border: none;
        border-radius: 0rem;
        padding: 0rem;
        height: 40px;
        background: transparent;

        &:focus {
            color: $wh__color !important;
            background-color: transparent;
            border-color: transparent;
            box-shadow: none !important;
        }
    }
}


// =====================================
//       NEWSLETTER SUBSCRIBE FORM
//======================================

.letter__form {
    width: 450px;
    padding: 7px;
    background: $wh__color;
    border-radius: 30px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    @include flex__center;

    .letter__input {
        width: 100%;
        height: 50px;
        border: none;
        background: transparent;
        padding-left: 18px;

        &::placeholder {
            color: $text__color;
            font-size: 14px;
            @include primary__regular;
        }
        
    }

    .letter__btn {
        color: $wh__color;
        border: none;
        outline: none;
        font-size: 14px;
        @include secondary__bold;
        text-transform: uppercase;
        padding: 15px 35px;
        border-radius: 30px;
        background: #273c66;
        @include flex__center;
        @include cursor__transition;

        &:hover {
            background: $brand__color;
        }

        i {
            margin-right: 8px;
        }
    }
}
