


// =====================================
//       ALL TYPOGRAPHY VARIABLES
//======================================

// FONT FAMILY 
$primary__family: 'Rubik', sans-serif;
$secondary__family: 'Roboto', sans-serif;
$thirdary__family: 'Lato', sans-serif;

// FONT WEIGHT 
$regular__weight: 400;
$medium__weight: 500;
$semi__bold__weight: 600;
$bold__weight: 700;

// FONT SIZE 
$xsm__size: 14px;
$sm__size: 16px;
$md__size: 18px;
$xmd__size: 36px;
$lg__size: 50px;
$xlg__size: 64px;


// =====================================
//         ALL COLOR VARIABLES
//======================================

$brand__color: #0eb582;
$header__bg: #273c66;
$heading__color: #333333;
$text__color: #777777;
$wh__color: #ffffff;
$placeholder__color: #999999;
$border__color: #f5f5f5;


// =====================================
//         ALL SHADOW VARIABLES
//======================================
