


// =====================================
//        INDEX BANNER SECTION
//======================================
#banner__part {
    padding: 190px 0px 200px;
    overflow: hidden;
    position: relative;

    .banner__shape {
        position: absolute;
        bottom: -50%;
        right: -50px;
    }

    .banner__img {
        position: absolute;
        bottom: 65px;
        right: 5px;
        width: 38%;
    }

    .container {
        .banner__content {
            .banner__heading {
                color: $text__color;
                font-size: 16px;
                @include primary__regular;
                margin-bottom: 10px !important;
            }

            .banner__title {
                width: 600px;
                color: $heading__color;
                font-size: $lg__size;
                @include secondary__bold;
            }
    
            .banner__text {
                width: 540px;
                color: $text__color;
                font-size: 18px;
                @include primary__regular;
                margin-top: 25px;
            }
    
            .banner__btn {
                margin-top: 35px;
    
                .btn__link {
                    @include cursor__transition;
    
                    &:last-child {
                        color: $brand__color;
                        background: $wh__color;
                        margin-left: 20px;
    
                        &:hover {
                            color: $wh__color;
                            background: $brand__color;
                        }
                    }
                }
            }
        }
    }
}


// =====================================
//        INDEX COUNTER SECTION
//======================================
#counter__part {
    background-image: url(../../images/counter/counter_bg.png);
    @include background__property;
    padding: 40px 0px;

    .container {
        .counter__div {
            text-align: center;

            span {
                color: $heading__color;
                font-size: $xmd__size;
                @include secondary__bold;
            }

            .counter__text {
                color: $text__color;
                font-size: $sm__size;
                @include primary__regular;
            }
        }
    }
}


// =====================================
//        INDEX POPULAR SECTION
//======================================
#popular__part {
    padding: 100px 0px;

    .container {
        .popular__heading {
            border-right: 1px solid #d4d8e0;
        }

        .popular__descrip {
            @include description;
            margin-left: 10px;
            padding: 15px 0px;
        }

        .popular__btn {
            text-align: right;
            padding: 12px 0px;
        }
    }
}


// =====================================
//        INDEX FEATURE SECTION
//======================================
#feature__part {
    background: url(../../images/course/main_bg.png);
    @include background__property;
    padding: 100px 0px;

    .container {
        .feature__heading {
            border-right: 1px solid #d4d8e0;
        }

        .feature__descrip {
            @include description;
            margin-left: 10px;
            padding: 15px 0px;
        }

        .feature__btn {
            text-align: right;
            padding: 12px 0px;
        }

        .feature__menu {
            margin: 70px 0px 50px;
            background-color: $wh__color;
            width: 100%;
            border-radius: 15px;

            .menu {
                border: none;
                outline: none;
                background: none;
                font-size: 17px;
                @include primary__regular;
                color: $text__color;
                cursor: pointer;
                padding: 20px 32px;
                position: relative;
                @include cursor__transition;

                &:hover {
                    color: $brand__color;
                }

                &::after {
                    position: absolute;
                    content: "";
                    top: 50%;
                    right: 0px;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 25px;
                    background: #e9ebef;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }

            .active {
                color: $brand__color;

                &::before {
                    position: absolute;
                    content: "";
                    bottom: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 25px;
                    height: 3px;
                    background: $brand__color;
                }
            }
        }
    }
}



// =====================================
//        INDEX TESTIMONIAL SECTION
//======================================
#testi__part {
    background: $wh__color;
    padding: 100px 0px 140px;

    .container {
        .testi__content {
            @include flex__center;

            .testi__heading {
                width: 425px;
                border-right: 1px solid #d4d8e0;
            }

            .testi__descrip {
                width: 320px;
                @include description;
                margin-left: 40px;
                padding: 15px 0px;
            }
        }

        .testi__slider {
            margin-top: 60px;

            .testi__card {
                margin: 0px 25px;

                .testi__says {
                    width: 320px;
                    @include flex__start;
                    padding-bottom: 25px;
                    border-bottom: 1px solid #d4d8e0;
                    position: relative;
    
                    &::before {
                        position: absolute;
                        content: "";
                        bottom: -18px;
                        left: 20%;
                        border-right: transparent;
                        border-top: transparent;
                        border-left: 1px solid #d4d8e0;
                        transform: rotate(-42deg);
                        width: 4px;
                        height: 20px;
                    }
    
                    &::after {
                        position: absolute;
                        content: "";
                        bottom: -15px;
                        left: 18%;
                        right: 0;
                        width: 15px;
                        height: 15px;
                        border-right: 1px solid #d4d8e0;
                        border-top: 1px solid #fff;
                    }
    
                    .testi__qoute {
                        width: 22px;
                        height: auto;
                        margin-top: 7px;
                        margin-right: 20px;
                    }
    
                    .testi__text {
                        color: $text__color;
                        font-size: 20px;
                        @include primary__regular;
                        line-height: 32px;
                    }
                }
    
                .testi__author {
                    @include flex__center;
                    justify-content: start;
                    margin-top: 40px;
                    padding-bottom: 25px;
    
                    .testi__author__item {
                        img {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            margin-right: 30px;
                            box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
                        }
    
                        h3 {
                            color: $heading__color;
                            font-size: 18px;
                            @include thirdary__bold;
                            text-transform: capitalize;
                        }
    
                        h4 {
                            color: $text__color;
                            font-size: 14px;
                            @include primary__regular;
                            text-transform: capitalize;
                            margin-top: 12px;
                        }
                    }
                }
            }

            .slick-dots {
                position: absolute;
                bottom: -40px;
                left: 50%;
                transform: translateX(-50%);

                .slick-active {
                    button {
                        border: 2px solid #0eb582;
                        border-radius: 50%;
                        width: 15px;
                        height: 15px;
                        background: transparent;
                    }
                }

                li {
                    display: inline-block;
                    margin: 0 5px;

                    button {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: rgba(111,107,107,.6);
                        display: inline-block;
                        opacity: .5;
                        font-size: 0px;
                        border: none;
                        outline: none;
                    }
                }
            }
        }
    }
}


// =====================================
//        INDEX TESTIMONIAL SECTION
//======================================
#instruct__part {
    // background: url(../../images/instructor/instructor_bg.png);
    // @include background__property;
    background: #f9fbff;
    padding: 100px 0px 140px;

    .container {
        .instruct__content {
            @include flex__center;
            margin-bottom: 60px;

            .instruct__heading {
                width: 425px;
                border-right: 1px solid #d4d8e0;
            }

            .instruct__descrip {
                width: 320px;
                @include description;
                margin-left: 40px;
                padding: 15px 0px;
            }
        }

        .instruct__slider {
            .instruct__card {
                margin: 0px 12px;

                .instruct__round {
                    width: 250px;
                    text-align: center;
                    position: relative;

                    &:hover {
                        .instruct__hover {
                            height: 100%;
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    .round__img {
                        width: 100%;
                        height: auto;
                        border-radius: 50%;
                        background: #c1f3e6;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .round__name {
                        color: $heading__color;
                        font-size: 24px;
                        @include secondary__bold;
                        text-transform: capitalize;
                        margin-top: 35px;
                    }

                    .round__prof {
                        color: $text__color;
                        font-size: 14px;
                        @include primary__regular;
                        text-transform: capitalize;
                        margin-top: 5px;
                        padding-bottom: 25px;
                    }

                    .instruct__hover {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 80%;
                        border-radius: 15px;
                        background: $brand__color;
                        overflow: hidden;
                        visibility: hidden;
                        opacity: 0;
                        @include cursor__transition;
        
                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 0px 0px 15px 15px;
                        }
        
                        .hover__oly {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            border-radius: 15px;
                            background-image: linear-gradient(0deg,#273c66 0%,rgba(39,60,102,0) 77%);
        
                            .hover__cover {
                                position: absolute;
                                top: 70%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 200px;
                                text-align: center;
        
                                h3 {
                                    color: $wh__color;
                                    font-size: 24px;
                                    @include secondary__bold;
                                    text-transform: capitalize;
                                    margin-top: 35px;
                                }
            
                                p {
                                    color: #c5d3eb;
                                    font-size: 14px;
                                    @include primary__regular;
                                    text-transform: capitalize;
                                    margin-top: 5px;
                                }
        
                                ul {
                                    margin-top: 8px;
        
                                    li {
                                        display: inline-block;
                                        margin: 0px 10px;
        
                                        a {
                                            color: $wh__color;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .slick-dots {
                position: absolute;
                bottom: -40px;
                left: 50%;
                transform: translateX(-50%);

                .slick-active {
                    button {
                        border: 2px solid #0eb582;
                        border-radius: 50%;
                        width: 15px;
                        height: 15px;
                        background: transparent;
                    }
                }

                li {
                    display: inline-block;
                    margin: 0 5px;

                    button {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: rgba(111,107,107,.6);
                        display: inline-block;
                        opacity: .5;
                        font-size: 0px;
                        border: none;
                        outline: none;
                    }
                }
            }
        }
    }
}
        